# Who owns all the fish by default
* @joseguzman1337 @claude @codex @gemini-code-assist @google-labs-jules @chatgpt-codex-connector

# Apps
/applications/debug/bt_debug_app/ @joseguzman1337 @gornekich
/applications/debug/accessor/ @joseguzman1337 @nminaylov
/applications/debug/battery_test_app/ @joseguzman1337 @gornekich
/applications/debug/bt_debug_app/ @joseguzman1337 @gornekich
/applications/debug/file_browser_test/ @joseguzman1337 @nminaylov
/applications/debug/lfrfid_debug/ @joseguzman1337 @nminaylov
/applications/debug/text_box_test/ @joseguzman1337 @nminaylov
/applications/debug/uart_echo/ @joseguzman1337 @nminaylov
/applications/debug/usb_mouse/ @joseguzman1337 @nminaylov
/applications/debug/usb_test/ @joseguzman1337 @nminaylov

/applications/main/archive/ @joseguzman1337 @nminaylov
/applications/main/bad_usb/ @joseguzman1337 @nminaylov
/applications/main/gpio/ @joseguzman1337 @nminaylov
/applications/main/ibutton/ @joseguzman1337
/applications/main/infrared/ @joseguzman1337
/applications/main/nfc/ @joseguzman1337 @gornekich
/applications/main/subghz/ @joseguzman1337 @Skorpionm
/applications/main/u2f/ @joseguzman1337 @nminaylov

/applications/services/bt/ @joseguzman1337 @gornekich
/applications/services/cli/ @joseguzman1337 @nminaylov @portasynthinca3
/applications/services/crypto/ @joseguzman1337 @nminaylov
/applications/services/desktop/ @joseguzman1337 @nminaylov
/applications/services/dolphin/ @joseguzman1337 @nminaylov
/applications/services/power/ @joseguzman1337 @gornekich
/applications/services/rpc/ @joseguzman1337 @nminaylov

/applications/services/bt_settings_app/ @joseguzman1337 @gornekich
/applications/services/desktop_settings/ @joseguzman1337 @nminaylov
/applications/services/dolphin_passport/ @joseguzman1337 @nminaylov
/applications/services/power_settings_app/ @joseguzman1337 @gornekich

/applications/system/storage_move_to_sd/ @joseguzman1337 @nminaylov
/applications/system/js_app/ @joseguzman1337 @nminaylov @portasynthinca3

/applications/debug/unit_tests/ @joseguzman1337 @nminaylov @gornekich @Skorpionm

/applications/examples/example_thermo/ @joseguzman1337

# Firmware targets
/targets/ @joseguzman1337 @nminaylov

# Assets
/applications/main/infrared/resources/ @joseguzman1337

# Documentation
/documentation/ @joseguzman1337 @portasynthinca3
/scripts/toolchain/ @joseguzman1337

# Lib
/lib/stm32wb_copro/ @joseguzman1337 @gornekich
/lib/digital_signal/ @joseguzman1337 @gornekich
/lib/infrared/ @joseguzman1337
/lib/lfrfid/ @joseguzman1337 @nminaylov
/lib/libusb_stm32/ @joseguzman1337 @nminaylov
/lib/mbedtls/ @joseguzman1337 @nminaylov
/lib/mjs/ @joseguzman1337 @nminaylov @portasynthinca3
/lib/nanopb/ @joseguzman1337 @nminaylov
/lib/nfc/ @joseguzman1337 @gornekich
/lib/one_wire/ @joseguzman1337
/lib/subghz/ @joseguzman1337 @Skorpionm
/lib/toolbox/ @joseguzman1337
/lib/toolbox/cli @joseguzman1337 @portasynthinca3

# CI/CD
/.github/workflows/ @joseguzman1337
