[submodule ".standard-firmware"]
	path = .standard-firmware
	url = https://github.com/flipperdevices/flipperzero-firmware.git
[submodule ".unleashed-firmware"]
	path = .unleashed-firmware
	url = https://github.com/DarkFlippers/unleashed-firmware.git
[submodule ".rogue-master-firmware"]
	path = .rogue-master-firmware
	url = https://github.com/RogueMaster/flipperzero-firmware-wPlugins
[submodule ".xtreme-firmware"]
	path = .xtreme-firmware
	url = https://github.com/ClaraCrazy/Flipper-Xtreme.git
