*.swp
*.gdb_history


# LSP
.cache
compile_commands.json

# JetBrains IDEs
.idea/

# Python VirtEnvironments
.env
.venv
env/
venv/

# Python Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.pickle

.obj/
bindings/
.DS_Store
.mxproject
Brewfile.lock.json

# Visual Studio Code
.vscode/

# legendary cmake's
build
CMakeLists.txt

# bundle output
dist

# kde
.directory

# SCons
.sconsign.dblite
# SCons build dir
build/

# Toolchain
toolchain*/
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/flipperzero-firmware/v16/ipch/AutoPCH/9aaa9b8c80dc39cf/APPLICATIONS.ipch
.vs/flipperzero-firmware/v16/Browse.VC.opendb
.vs/flipperzero-firmware/v16/Browse.VC.db-wal
.vs/flipperzero-firmware/v16/Browse.VC.db-shm
.vs/flipperzero-firmware/v16/Browse.VC.db
.vs/flipperzero-firmware/v16/.suo
Azz_Build_and_Flash.bat
Azz_Build_with_docker.bat
get-pip.py
site_scons/site_tools/crosscc.py
site_scons/site_tools/crosscc.py
site_scons/site_tools/crosscc.py
