[submodule "flipperzero-firmware_official"]
	path = flipperzero-firmware_official
	url = https://github.com/flipperdevices/flipperzero-firmware.git
	branch = dev
	ignore = all
[submodule "flipperzero-firmware_unleashed"]
	path = flipperzero-firmware_unleashed
	url = https://github.com/Eng1n33r/flipperzero-firmware.git
	branch = dev
	ignore = all
